<header>
    <h1>HummingBird</h1>
    <nav>
        <a href="/">Home Page</a>
    </nav>
    <nav>
        <a href="/posts">All Posts</a>
    </nav>
    <nav>
        <a href="/posts/new">New Post</a>
    </nav>
</header>