<header class="nav-header">
    <a href="/"><img src="/imgs/logo.png" alt="logo image"></a>
    <input type="text" placeholder="Search HummingBird...">
    <nav>
        <a href="/posts"><i class="fa-solid fa-house"></i></a>
        <a href="/posts/new"><i class="fa-solid fa-plus"></i></a>
        <a href=""><i class="fa-solid fa-user"></i></a>
    </nav>
</header>