<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <section>
        <h2>404</h2>
        <img src="/imgs/hummingbird-404.png" alt="hummingbird">
        <h3>The page you requested doesn't exist</h3>
        <p>Check the address bar to make sure you're requesting a valid page</p>        
    </section>
    <%- include('./partials/footer') %>
</body>
</html>