<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <section>
            <header class="intro-header">
                <h1>Welcome&nbsp;to&nbsp;HummingBird!</h1>
                <h2>A vibrant online community platform where you can connect with people from your community and build strong relationships.</h2>
            </header>
            <div id="main-div">
                <p>
                    Our platform is designed to be a one-stop-shop for all your community needs. Whether you are looking for advice or recommendations. You can ask for help and/or donate your time by supporting your local community!
                </p>
                <p>
                    At HummingBird, we believe that everyone has something to offer and that sharing knowledge and resources can create a positive impact on the world.
                </p>
                <p>
                    You can engage in lively discussions, share your insights, and make new friends with ease.
                </p>
                <p>
                    HummingBird is more than just a question and answer forum; it's a place where you can forge lasting connections with people who live in your surrounding and share interests and passions.
                </p>
                <p>
                    We take pride in our strong sense of community and believe that everyone should feel welcome on our platform.
                </p>
            </div>
            <h5>Join HummingBird today and become a part of our thriving community.</h5>
            <p>We look forward to getting to know you and supporting you on your journey!</p>
            <% if (user) { %>
                <a href="/logout" class="log-in-out">Log Out</a>
            <% } else { %>
                <a href="/auth/google" class="log-in-out">Log In</a>
            <% } %>
        </section>
        <%- include('./partials/footer') %>
    </body>
</html>