<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
        <h2>Get the help you need: Ask anything on hummingBird community</h2>
        <form id="new-post" action="/posts" method="POST">
            <input class="input content" type="text" name="title" placeholder="Title:" required></br>
            <input class="input content" type="text" name="location" placeholder="Location:" required></br>
            <textarea class="input content" name="content" cols="30" rows="10" required placeholder="Add Text..."></textarea></br> 
            <input class="submit"  type="submit" value="Post">
        </form>    
    </section>
    <%- include('../partials/footer') %>
</body>
</html>