<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
        <form id="new-post" action="/posts" method="POST">
            <input class="input" type="text" name="title" placeholder="Title:" required></br>
            <input class="input" type="text" name="location" placeholder="Location:" required></br>
            <textarea class="input" name="content" cols="30" rows="10" required></textarea></br> 
            <input id="submit" type="submit" value="Post">
        </form>    
    </section>
    <%- include('../partials/footer') %>
</body>
</html>